body {
 margin :25px;
 background: #c0ebf9
}
.jumbotron {
  font-family: 'Arimo', sans-serif;
  text-align: center;
  background-color: #fff7d6
}
h1 {
  font-size: 60px;
}
h2 {
  color:  #b266b2
}

h3 {
  padding: 10px;
}
h4 {
  color:  #b266b2
}
#result {
  display: none;
}
#notgoodresult {
  display: none;
}
.answer {
  font-size: 20px;
}
#start {
  display: none;
}
#end {
  display: none;
}
#show {
  display: none;
}
#hide {
  display: none;
}
.clickable1 {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #b266b2
}
.clickable1:hover {
  text-decoration: underline;
}
.clickable2 {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #b266b2
}
.clickable2:hover {
  text-decoration: underline;
}
